
/*
#F1F0E9 grey 
#41644A light green 
#0D4715 dark green 
#E9762B orange 
*/


.body {
  font-family: 'Arial', sans-serif;
  padding: 0;
  margin: 0;
}

.sidebar-title-banner {
  background-color: #0D4715;
  color: #F1F0E9;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}
.sidebar-bottom-banner {
  background-color: #41644A80;
  color: #F1F0E9;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  left: 15px;
  right: 15px;
  border-radius: 5px;
}
.page-bottom-banner {
  background-color: #41644A80;
  color: #F1F0E9;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  left: 15px;
  right: 15px;
  border-radius: 5px;
}

.sidebar-panel {
  background-color: #F1F0E9;
  padding: 15px;
  position: relative;
  height: 100vh;
  border-radius: 5px;
  border-right: 5px solid #E9762B50; /* Example: 5px solid black border on the right */
}
.map-panel {
  padding: 30; /* Remove padding to make the map fill the container */
}
/* Ensure the map fills its container and takes full vertical space */
/*
#map1 {
  height: 90vh !important;
  border-radius: 5px;
}
#my_map2 {
  height: 55vh !important;
  border-radius: 5px;
}
*/
.bar-graph-panel {
  padding: 5px;
  background-color: #F1F0E9;
  border-radius: 5px;
  margin-top: 5px;
}
.card {
  background-color: #F1F0E9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 15px;
  margin-bottom: 20px;
  height: 100vh !important;
}
.cardMap {
  background-color: #F1F0E9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 15px;
  margin-bottom: 10px;
  height: 60vh !important;
}
.cardTable {
  background-color: #F1F0E9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 15px;
  margin-bottom: 10px;
  height: 40vh !important;
}

.btn-block {
  background-color: #41644A;
  color: #F1F0E9;
  border-radius: 5px;
} 

.btn-primary:hover {
  color: #fff;
  background-color: #41644A80;
  border-color: #E9762B;
}
  
/* additional css elements */ 
.info-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  }
  
.tooltip-inner {
  background-color: #006837; /* A dark green to match your theme */
  color: #FFF; /* White text for contrast */
  max-width: 500px; /* Adjust the maximum width */
  text-align: center; /* Align text to the left if needed */
}
  
.tooltip.right .tooltip-arrow { border-right-color: #006837;}
  
/* Style for the fixed footer banner */
.footer-banner {
  position: relative;   /* Fixes the position relative to the browser window */
  left: 0;
  bottom: 0;         /* Aligns the banner to the bottom */
  width: 100%;       /* Makes the banner span the full width */
  background-color: #006837; /* Example background color (Bootstrap primary) */
  color: white;      /* Text color */
  text-align: center;/* Center the text inside the banner */
  padding: 10px;     /* Add some space inside the banner */
  /*z-index: -9999;     /* Ensures the banner stays on top of other content */
  /* --- CSS Flexbox properties for alignment --- */
  display: flex;                  /* Activates flexbox layout */
  justify-content: space-between; /* Pushes items to opposite ends (left and right) */
  align-items: center;            /* Vertically centers the items in the banner */
  padding: 5px 20px;              /* Adjust padding (top/bottom and left/right) */

}